.avatar {
  position: fixed;
  overflow: hidden;
  z-index: 4;
  border-radius: 50%;
  object-fit: cover;
  filter: drop-shadow(0px 0px 25px var(--avatar-glow));
}

.avatar.about {
  width: 20vh;
  height: 20vh;
  bottom: 28rem;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 1100px) {
  .avatar.about {
    height: 15vh;
    width: 15vh;
    bottom: 70%;
  }
}
